@media screen and (max-width: 576px) {
    /* styles for header section */
    .top_header {
      padding-top: 15px;
      align-items: stretch;
    }
    .logo h1 {
      font-size: 25px;
    }
    .nav ul li a {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
    }
    .nav ul {
      flex-direction: column;
      text-align: start;
    }
    .primary_btn {
      padding: 10px 15px;
      margin: 16px 0;
    }
    .banner_img {
      margin-top: 0;
    }
    .banner_img img {
      width: 90%;
      padding-bottom: 15px;
    }
    .banner_content {
      padding-top: 35px;
      width: 90%;
    }
    .banner_content h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }
    .banner_content p {
      line-height: 20px;
    }
    /* styles for features section */
    .features {
      flex-direction: column;
      margin-top: 30px;
      align-items: flex-start;
      justify-content: center;
    }
    .features_img {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
    .features_img img {
      width: 250%;
    }
    .features_content {
      width: 93%;
    }
    .features_content h2 {
      line-height: 26px;
      padding-bottom: 5px;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      margin-top: 15px;
    }
    .features_content p {
      width: 90%;
      margin: auto;
      text-align: center;
    }
    .features_content button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 10px;
    }
    /* Features you will love & enjoy */
    .enjoy {
      flex-direction: column;
      text-align: center;
      margin: auto;
      padding-top: 30px;
    }
    .enjoy_left h2 {
      font-weight: 700;
      font-size: 20px;
      width: 100%;
      border: none;
      padding: 0;
    }
    .enjoy_left p {
      width: 90%;
      padding-bottom: 14px;
      padding-top: 10px;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
      margin: auto;
    }
    .box {
      width: 80%;
      margin-left: 20px;
      margin-bottom: 20px;
      padding-top: 14px;
      text-align: center;
      margin: auto;
      box-shadow: -3px -2px 5px -2px 1px #888888;
    }
    .enjoy_right img {
      width: 100%;
      margin-left: 0;
    }
    .enjoy_left {
      width: 100%;
      margin-bottom: 15px;
    }
    /* some fact */
    .card {
      margin: 5px 0;
    }
    .cards {
      flex-direction: column;
      width: 100%;
    }
    .facts_title {
      width: 80%;
    }
    .facts_title h2 {
      font-size: 25px;
    }
    .facts_title p {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    /* extra for bonus mark */
    .inspiration {
      flex-direction: column;
    }
    .inspiration_title {
      margin-left: 0;
      margin-bottom: 15px;
    }
    .inspiration_title img {
      width: 100%;
    }
    .extra {
      padding-top: 50px;
    }
    .extra h2 {
      padding-bottom: 20px;
      font-size: 30px;
    }
    .sponsors_item {
      flex-direction: column;
    }
    .our_sponsors {
      padding-top: 15px;
    }
    .our_sponsors h2 {
      font-size: 30px;
      padding-bottom: 10px;
    }
    .our_sponsors p {
      width: 80%;
      margin-bottom: 25px;
    }
    .sponsors_item img {
      margin-bottom: 25px;
    }
    footer {
      width: 100%;
    }
    footer p {
      padding: 0;
      padding: 20px 0;
      margin-top: 20px;
      margin-bottom: 0;
    }
  }